<!DOCTYPE html>
<html ng-app='popular'>
  <head>
    <meta charset="utf-8" />
    <title>How Popular Am I</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <div>
      <h1>How Popular Am I?</h1>
    </div>

    <!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
    <div id='container' ng-controller="PopularCtrl">
      <div class="msg">
        {{ message }}
      </div>
      <div class="input">
        <input ng-model="username" placeholder="your twitter handle">
      </div>
      <div class="button">
        <button ng-click="lookUp()">submit</button>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>

    <script src="app.js"></script>
  </body>
</html>